#map{
    width: 450px;
    height: 350px;
    position: relative;
}

#map1{
    width: 450px;
    height: 350px;
    position: relative;
}

#map2{
    width: 450px;
    height: 350px;
    position: relative;
}